<h1 Product %></h1>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>List:</strong>
  <%= @product.list %>
</p>

<%= link_to 'Edit', edit_list_product_path(@list, @product), class: 'btn btn-primary', role: :button %>
<%= link_to 'Back', list_products_path, class: 'btn btn-outline-secondary', role: :button %>

